nav {
    background-color: #333;
 }

header {
    background-color: olive;
    text-align: center;
    padding:10px;
}

section {
    background-color: rgb(232, 243, 208);
}

footer {background-color: #333;
       text-align: center;
       padding:10px;

}

article {
    background-color: rgb(250, 247, 244);
}

a {
    color: white;
}

h1 {
    color: white;
}

h2 { 
    color: darkolivegreen;
}

h4 {
    color: white;
}

.foot-p {
    color: white  ;
}

header > p {
    color: white;
}